<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ESP32 Oscilloscope </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="_ui.css">
	<link rel="stylesheet" href="nouislider.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
<style>
#demo{
  position:relative;
  width:70%;
  float:left
}
#ui-container{
        width: 20%;
        float: right;
        margin-left: 30px;
	}
.container {
  width: 100%;
  height:1200px;
  margin: auto;
}
canvas{
  position: absolute;
  top:0;
  left:0;
  display: block;
  border:solid 5px #E3E3E3;
  /*border-radius: 10px;*/
  /*background: #E3E3E3;*/
}
.preamble{
	margin-bottom: 20px;
}
</style>
	
 
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body class='body--shaded '>

<div class="wrapper">

	<div class="main">

	<div class="container">
	    <div id="demo"  class="">
		</div>
		<div class="clearfix" id='ui-container'>
		</div>
		
	</div>
</div>



<div class="demo-description">

    <hr>

    <p>
	An oscilloscope is a useful tool for anyone working with electrical signals because it provides a visual representation of the signal's shape, or waveform. This allows you to measure properties of the wave, such as amplitude or frequency.</p>

<p>
	The initial signal above is a 200Hz sine wave, which has an amplitude of 5 volts. The frequency of this wave can be adjusted by using the "Input Wave Frequency" slider.
	(You can also choose to display a square wave.)
</p>

<p>
	If you are browsing using the latest version of Google Chrome, the input dropdown box allows you to select "live input".  This will take data from any microphone connected to your computer and display the live audio data. (Different microphones send different voltages to the computer, so for consistency we have normalised the input so the raw input signal will always be limited to somewhere between -5 and +5 volts.)
</p>

<p>
	Since waveforms come in a wide variety of shapes, amplitudes and frequencies, oscilloscopes need to have a number of controls to adjust the display of the waveform so it can comfortably fit inside the viewport.
</p>

<p>
	<em>Freeze live input</em><br />This tickbox freezes the input allowing you to effectively take a snapshot of what is displayed on the oscilloscope at a given instant in time. This is especially useful
	because you can still adjust the time base and volts per division setting. Try whistling and freezing the input. Adjust the timebase to a convenient scale allows you to calculate the frequency of your whistle by counting the period of one complete waveform.
</p>

<p>
	<em>Oscilloscope gain</em><br />This is a number that the incoming signal is multiplied by. A gain of 1 will have no effect, a gain of less than 1 will make the signal smaller and a gain of more than 1 will make it larger.
</p>

<!-- <p>
	<em>Invert</em><br />This flips the signal in the line y = 0, providing a mirror image of the original signal.
</p> -->

<p>
	<em>seconds / div</em><br />This control allows you to adjust the length of time that each square of the grid represents. When the oscilloscope is first loaded, this setting is set at 1ms, and shows one complete waveform over 4 squares. This means that the period of the wave is 4ms, or 0.004s, giving a frequency of (1/0.004) = 250Hz. If you change the timebase to 500µs (half of what it started at), you should see the waveform now takes 8 squares to complete one full oscillation. The period (and hence the frequency) remain constant because 8 times 500µs still equals 0.004s.
</p>

<p>
	<em>volts / div</em><br />This setting is very similar to the timebase setting described above, but instead of stretching the wave along the x-axis, it involves stretching it along the y-axis. The sine wave has an amplitude of 5V, meaning when volts/div is set to 5, the waveform just reaches the top of the first square. If you were to change the setting to 10 volts/div, the waveform now only reaches up half of a square.
</p>

<p>
	<em>Horizontal and Vertical Offsets</em><br />
	These two sliders allow you to adjust the position of the oscilloscope's trace on the grid. They are particularly useful for lining up parts of the
	waveform with the gridlines (this can make it easier for you to count the squares when determining wavelength, for example).
</p>    
    	        
 </div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery.nouislider.min.js"></script>
<script src="js/ui.js"></script>
<script src="js/demoClass.js"></script>
<script src="js/common.js"></script> 

<script src="AudioContextMonkeyPatch.js"></script>
<script src="demo.js"></script>
		    

			<script>
			    //ASSET SERVING
			    //var assetPath = "https://s3-us-west-2.amazonaws.com/academo-assets";

			    $(document).trigger({
			    	type: "scriptLoaded"
			    });
		    </script>
	   
	</div>

	
	    <div class="push"></div>
	    <div class="footer">
	    	<div class="footer-inner">
		    	&copy; Academo.org 2016. Source code available at <a href="https://github.com/edwardball/academo.org">GitHub.com</a>
	    	</div>
	    </div> <!-- End of content -->
	</body>
</html>
